<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>

<body>
    <%- include('./partials/header'); %>
    <h1>estou aqui</h1>

    <%- include('./partials/footer'); %>

   <%- include('./partials/script')%>
</body>
</html>